#signup {
  background-color: #655d8a;
  font-family: "Montserrat", sans-serif;
}

/* body {
    background-color: #655D8A;
} */

.signup-cont {
  padding: 3% 8% 5%;
  width: 80%;
}

.input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }

.signup-img {
  width: 100%;
  height: 100%;
}

.signup-card {
  border-radius: 1rem;
}

.signup-log {
  padding-top: 10%;
  font-family: "Source Serif 4", sans-serif;
  text-align: center;
}

.signup-but{
    text-align: center;
}

.constrain {
    text-align: left;
    padding-top: 3%;
    font-size: .8rem;
    color: grey;
}

.list:hover {
    color: black;
}

.credential-but{
    padding-top: 10%;
    text-align: center;
}

.signuphead{
  padding-bottom: 5%;
  text-align: center;
}

.progress-bar{
  background-color: #655D8A;
}